@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');


body{
		background: black;
		width: 100vw;
		height: auto;
		margin: 0;
		display: grid;
		gap: 0.7rem;
		grid-template-rows: 15% 1fr 1fr;
		grid-template-columns: repeat(2,1fr);
		padding: 0.5rem;
		position: relative;
      /*  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
*/
		font-family: Oleo Script;
		overflow-x: hidden;
}
.c1{
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-size: 9rem;
	text-align: center;
	color: rgb(255, 145, 0);
	font-weight: bold;
	/*background-color: black;*/
}
.back{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	position: absolute;
	filter: blur(3px);
}
.c1{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		border: none;
		background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(51, 153, 255,0.9));
}

.c2{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		background: linear-gradient(rgb(51, 153, 255,0.9),rgba(255,0,0,0.9));
		border: none;
		clip-path: path('M 0% 50% Q 50% 0% 100% 50% L 100% 100% L 0% 100% Z');
}

.c3{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		background: linear-gradient(rgb(51, 153, 255,0.9),rgba(255, 204, 102,0.9));
		border: none;
}

.c4{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		background:linear-gradient(360deg,rgba(102, 51, 51),rgb(51, 153, 255,0.9));
		border: none;
        
}

.I,.F,.M,.Y{
    border: 3px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	border-radius: 2rem;
}
.imgcon{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 1px solid black;
}
.fdes1,.mdes1,.ides1,.ydes1{
    font-size: 4rem;
	color: white;
}

.c5{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		background: linear-gradient(rgb(51, 153, 255,0.9),rgba(153, 51, 153, 0.9));
		border: none;
}
.c2,.c3,.c4,.c5{
		border-radius: 2rem;
        padding: 2.5rem;
		border: 1px solid skyblue;
		box-shadow: 0 0 12px 2px rgb(51, 153, 255);
		
}
.c2,.c4{
	animation: fadein 2s ease forwards;
	animation-delay:0.2s;
	animation-fill-mode:backwards;

}

.c3,.c5{
	animation: into 2s ease forwards;
	animation-delay:0.2s;
	animation-fill-mode:backwards;
}

.c4,.c5,.c3,.c2{
		display: flex;
		flex-direction: row;
}
.ides1,.ydes1,.mdes1,.fdes1{
		width: 75%;
		display: flex;
		flex-direction: column;
		border-right: 1px solid black;
		justify-content: space-around;
		align-items: center;
}
.ides2,.ydes2,.mdes2,.fdes2{
		width: 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		font-size:1.5rem;
		text-align: center;
		color:white;
}
.i2,.y2,.m2,.f2{
		display: block;
		border-radius: 10%;
		width:3rem;
		background: white;
		color:red;
}
.b,.i,.r,.t,.h,.d,.a,.y{
	display: inline-block;
	animation: intro 2s ease forwards;
}
@keyframes intro{
	from{
		transform: rotate(360deg);
		filter: blur(24px);
	}
	to{
		transform: rotate(0deg);
		filter: blur(0px);
	}
}
@keyframes fadein {
	from{
		transform: translateX(-400px);
		opacity: 0;
		visibility:hidden;
	}
	to{
		transform: none;
		opacity: 1;
		visibility:visible;
	}
}
@keyframes into{
	from{
		transform: translateX(400px);
		opacity: 0;
		visibility:hidden;
	}
	to{
		transform: none;
		opacity: 1;
		visibility:visible;
	}

}

